<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.researchsuite.rsextensions">

    <application
        android:name=".location.RSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="org.researchsuite.rsextensions.location.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".location.RSViewTaskActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.YADL.Survey"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="org.researchsuite.rsuiteextensionscore.RSRedirectReceiver"
            android:label="@string/app_name" >
            <intent-filter android:label="redirect_receiver_filter">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "ancile3ec3082ca348453caa716cc0ec41791e://” -->
                <data android:scheme="@string/ancile_mobile_url_scheme" />
            </intent-filter>
        </activity>


    </application>

</manifest>